body {
	background-color: #C0D1E4;
}

#hawaiipic{

	width: 500px;
	height: 500px;
}

#glenbrookpic{

	width: 500px;
	height: 500px;
}

#telluridepic{

   width: 500px;
   height: 500px;

}

#saintbarthspic{

width: 500px;
height: 500px; 

}

#airplanepic{

width: 500px;
height: 500px;

}